@import (reference) "./variables.less";

  // font properties----------------------------------------------------------------------
	// Indent
	.ti2  {text-indent: 2em}

	// Size
	.fs12 {font-size: 12px}
	.fs13 {font-size: 13px}
	.fs14 {font-size: 14px}
	.fs15 {font-size: 15px}
	.fs16 {font-size: 16px}
	.fs17 {font-size: 17px}
	.fs18 {font-size: 18px}
	.fs20 {font-size: 20px}
	.fs22 {font-size: 22px}
	.fs23 {font-size: 23px}
	.fs24 {font-size: 24px}
	.fs26 {font-size: 26px}
	.fs28 {font-size: 28px}
	.fs30 {font-size: 30px}
	.fs32 {font-size: 32px}

    // Color
	.red     {color: red}
	.green   {color: green}
	.white   {color: white}
	.black   {color: black}
	.colorMain{color: @color-main}

    // Line-height
	.lh16 {line-height: 16px}
	.lh18 {line-height: 18px}
	.lh20 {line-height: 20px}
	.lh22 {line-height: 22px}
	.lh24 {line-height: 24px}
	.lh26 {line-height: 26px}
	.lh28 {line-height: 28px}
	.lh30 {line-height: 30px}
	.lh32 {line-height: 32px}
	.lh34 {line-height: 34px}
	.lh36 {line-height: 36px}
	.lh40 {line-height: 40px}

    // Weight
	.fn {font-weight: normal}
	.fb {font-weight: bold}

	//Style
	.fsn {font-style: normal}

// 外部属性----------------------------------------------------------------------
	// Display
	.db 	{display: block}
	.dn 	{display: none}
	.di 	{display: inline-block}

	.show   {display: block !important}
	.hide   {display: none !important}

	// Layout
	.oh 	{overflow: hidden}
	.fl 	{float: left}
	.fr 	{float: right}

	// Margin
	.m5 	{margin: 5px}
	.m10 	{margin: 10px}
	.m15 	{margin: 15px}
	.m20 	{margin: 20px}

	// Margin Multiple
	.mtb5 	{margin-top: 5px; margin-bottom: 5px}
	.mtb10 	{margin-top: 10px; margin-bottom: 10px}
	.mtb15 	{margin-top: 15px; margin-bottom: 15px}
	.mtb20 	{margin-top: 20px; margin-bottom: 20px}
	.mtb30 	{margin-top: 30px; margin-bottom: 30px}
	.mtb40 	{margin-top: 40px; margin-bottom: 40px}
	.mlra 	{margin-left: auto; margin-right: auto }
	.mlr5 	{margin-left: 5px; margin-right: 5px}
	.mlr10 	{margin-left: 10px; margin-right: 10px}
	.mlr15 	{margin-left: 15px; margin-right: 15px}
	.mlr20 	{margin-left: 20px; margin-right: 20px}
	.mlr30 	{margin-left: 30px; margin-right: 30px}
	.mlr40 	{margin-left: 40px; margin-right: 40px}

	// Margin-top
	.mt1 	{margin-top: 1px}
	.mt2 	{margin-top: 2px}
	.mt3 	{margin-top: 3px}
	.mt4 	{margin-top: 4px}
	.mt5 	{margin-top: 5px}
	.mt6 	{margin-top: 6px}
	.mt7 	{margin-top: 7px}
	.mt8 	{margin-top: 8px}
	.mt9 	{margin-top: 9px}
	.mt10 	{margin-top: 10px}
	.mt11 	{margin-top: 11px}
	.mt12 	{margin-top: 12px}
	.mt13 	{margin-top: 13px}
	.mt14 	{margin-top: 14px}
	.mt15 	{margin-top: 15px}
	.mt20 	{margin-top: 20px}
	.mt25 	{margin-top: 25px}
	.mt30 	{margin-top: 30px}
	.mt40 	{margin-top: 40px}
	.mt50 	{margin-top: 50px}
	.mt60 	{margin-top: 60px}
	.mt90 	{margin-top: 90px}

	// Marin-top-minus
	.mt-5 	{margin-top: -5px}
	.mt-10 	{margin-top: -10px}
	.mt-15 	{margin-top: -15px}
	.mt-20 	{margin-top: -20px}

	// Marin-bottom
	.mb1 	{margin-bottom: 1px}
	.mb2 	{margin-bottom: 2px}
	.mb3 	{margin-bottom: 3px}
	.mb4 	{margin-bottom: 4px}
	.mb5 	{margin-bottom: 5px}
	.mb6 	{margin-bottom: 6px}
	.mb7 	{margin-bottom: 7px}
	.mb8 	{margin-bottom: 8px}
	.mb9 	{margin-bottom: 9px}
	.mb10 	{margin-bottom: 10px}
	.mb11 	{margin-bottom: 11px}
	.mb12 	{margin-bottom: 12px}
	.mb13 	{margin-bottom: 13px}
	.mb14 	{margin-bottom: 14px}
	.mb15 	{margin-bottom: 15px}
	.mb20 	{margin-bottom: 20px}
	.mb25 	{margin-bottom: 25px}
	.mb30 	{margin-bottom: 30px}
	.mb40 	{margin-bottom: 40px}
	.mb50 	{margin-bottom: 50px}
	.mb60 	{margin-bottom: 60px}

	// margin-left
	.ml1 	{margin-left: 1px}
	.ml2 	{margin-left: 2px}
	.ml3 	{margin-left: 3px}
	.ml4 	{margin-left: 4px}
	.ml5 	{margin-left: 5px}
	.ml6 	{margin-left: 6px}
	.ml7 	{margin-left: 7px}
	.ml8 	{margin-left: 8px}
	.ml9 	{margin-left: 9px}
	.ml10 	{margin-left: 10px}
	.ml11 	{margin-left: 11px}
	.ml12 	{margin-left: 12px}
	.ml13 	{margin-left: 13px}
	.ml14 	{margin-left: 14px}
	.ml15 	{margin-left: 15px}
	.ml20 	{margin-left: 20px}
	.ml25 	{margin-left: 25px}
	.ml30 	{margin-left: 30px}
	.ml40 	{margin-left: 40px}
	.ml50 	{margin-left: 50px}
	.ml60 	{margin-left: 60px}
	.ml115 	{margin-left: 115px}

	// margin-right
	.mr1 	{margin-right: 1px}
	.mr2 	{margin-right: 2px}
	.mr3 	{margin-right: 3px}
	.mr4 	{margin-right: 4px}
	.mr5 	{margin-right: 5px}
	.mr6 	{margin-right: 6px}
	.mr7 	{margin-right: 7px}
	.mr8 	{margin-right: 8px}
	.mr9 	{margin-right: 9px}
	.mr10 	{margin-right: 10px}
	.mr11 	{margin-right: 11px}
	.mr12 	{margin-right: 12px}
	.mr13 	{margin-right: 13px}
	.mr14 	{margin-right: 14px}
	.mr15 	{margin-right: 15px}
	.mr20 	{margin-right: 20px}
	.mr25 	{margin-right: 25px}
	.mr30 	{margin-right: 30px}
	.mr40 	{margin-right: 40px}
	.mr50 	{margin-right: 50px}
	.mr60 	{margin-right: 60px}
	.mr110 	{margin-right: 110px}
	.mr150 	{margin-right: 150px}
	.mr220 	{margin-right: 220px}

	// Padding
	.p5 	{padding: 5px}
	.p10 	{padding: 10px}
	.p15 	{padding: 15px}
	.p20 	{padding: 20px}
	.p30 	{padding: 30px}

	// Padding Multiple
	.ptb5 	{padding-top: 5px; padding-bottom: 5px}
	.ptb10 	{padding-top: 10px; padding-bottom: 10px}
	.ptb15 	{padding-top: 15px; padding-bottom: 15px}
	.ptb20 	{padding-top: 20px; padding-bottom: 20px}
	.plr5 	{padding-left: 5px; padding-right: 5px}
	.plr10 	{padding-left: 10px; padding-right: 10px}
	.plr15 	{padding-left: 15px; padding-right: 15px}
	.plr20 	{padding-left: 20px; padding-right: 20px}
	.plr30 	{padding-left: 30px; padding-right: 30px}

	// Padding-top
	.pt1 	{padding-top: 1px}
	.pt2 	{padding-top: 2px}
	.pt3 	{padding-top: 3px}
	.pt4 	{padding-top: 4px}
	.pt5 	{padding-top: 5px}
	.pt6 	{padding-top: 6px}
	.pt7 	{padding-top: 7px}
	.pt8 	{padding-top: 8px}
	.pt9 	{padding-top: 9px}
	.pt10 	{padding-top: 10px}
	.pt11 	{padding-top: 11px}
	.pt12 	{padding-top: 12px}
	.pt13 	{padding-top: 13px}
	.pt14 	{padding-top: 14px}
	.pt15 	{padding-top: 15px}
	.pt20 	{padding-top: 20px}
	.pt25 	{padding-top: 25px}
	.pt30 	{padding-top: 30px}

	// Padding-bottom
	.pb1 	{padding-bottom: 1px}
	.pb2 	{padding-bottom: 2px}
	.pb3 	{padding-bottom: 3px}
	.pb4 	{padding-bottom: 4px}
	.pb5 	{padding-bottom: 5px}
	.pb6 	{padding-bottom: 6px}
	.pb7 	{padding-bottom: 7px}
	.pb8 	{padding-bottom: 8px}
	.pb9 	{padding-bottom: 9px}
	.pb10 	{padding-bottom: 10px}
	.pb11 	{padding-bottom: 11px}
	.pb12 	{padding-bottom: 12px}
	.pb13 	{padding-bottom: 13px}
	.pb14 	{padding-bottom: 14px}
	.pb15 	{padding-bottom: 15px}
	.pb20 	{padding-bottom: 20px}
	.pb25 	{padding-bottom: 25px}
	.pb30 	{padding-bottom: 30px}

	// Padding-left
	.pl1 	{padding-left: 1px}
	.pl2 	{padding-left: 2px}
	.pl3 	{padding-left: 3px}
	.pl4 	{padding-left: 4px}
	.pl5 	{padding-left: 5px}
	.pl6 	{padding-left: 6px}
	.pl7 	{padding-left: 7px}
	.pl8 	{padding-left: 8px}
	.pl9 	{padding-left: 9px}
	.pl10 	{padding-left: 10px}
	.pl11 	{padding-left: 11px}
	.pl12 	{padding-left: 12px}
	.pl13 	{padding-left: 13px}
	.pl14 	{padding-left: 14px}
	.pl15 	{padding-left: 15px}
	.pl20 	{padding-left: 20px}
	.pl25 	{padding-left: 25px}
	.pl30 	{padding-left: 30px}

	// Padding-right
	.pr1 	{padding-right: 1px}
	.pr2 	{padding-right: 2px}
	.pr3 	{padding-right: 3px}
	.pr4 	{padding-right: 4px}
	.pr5 	{padding-right: 5px}
	.pr6 	{padding-right: 6px}
	.pr7 	{padding-right: 7px}
	.pr8 	{padding-right: 8px}
	.pr9 	{padding-right: 9px}
	.pr10 	{padding-right: 10px}
	.pr11 	{padding-right: 11px}
	.pr12 	{padding-right: 12px}
	.pr13 	{padding-right: 13px}
	.pr14 	{padding-right: 14px}
	.pr15 	{padding-right: 15px}
	.pr20 	{padding-right: 20px}
	.pr25 	{padding-right: 25px}
	.pr30 	{padding-right: 30px}

// 自身属性----------------------------------------------------------------------
	// Width Percentage
	.w5 	{width: 5%}
	.w10 	{width: 10%}
	.w15 	{width: 15%}
	.w20 	{width: 20%}
	.w25 	{width: 25%}
	.w30 	{width: 30%}
	.w33 	{width: 33.3333333333333333333%}
	.w35 	{width: 35%}
	.w40 	{width: 40%}
	.w45 	{width: 45%}
	.w49 	{width: 49%}
	.w50 	{width: 50%}
	.w55 	{width: 55%}
	.w60 	{width: 60%}
	.w65 	{width: 65%}
	.w70 	{width: 70%}
	.w75 	{width: 75%}
	.w77 	{width: 77%}
	.w80 	{width: 80%}
	.w85 	{width: 85%}
	.w90 	{width: 90%}
	.w95 	{width: 95%}
	.w100 	{width: 100%}

	.wm     {width: @width-main}

	// Height
	.h100 	{height: 100%}

	// Background-color
	.bgcw 	{background-color: white}

	// Text-align
	.tac 	{text-align: center}
	.tal 	{text-align: left}
	.tar 	{text-align: right}

	// Vertical-align
	.vat 	{vertical-align: top}
	.vam 	{vertical-align: middle}
	.vab 	{vertical-align: bottom}

	//Text-decoration
	.tdn {text-decoration: none}
	.tdl {text-decoration: line-through}
	.tdu {text-decoration: underline}

	.pointer {cursor: pointer}

// 混合样式----------------------------------------------------------------------

	// Ellipsis
	.ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	// Line
	.line{
		width: 100%;
		height: 1px;
		background-color: @color-grey2;
	}

	// Box-sizing
	.bsbb {
		box-sizing: border-box;
		&:before, &:after {box-sizing: inherit}
	}

	// Opacity
	.opacity(@opacity) {
		opacity: @opacity;
		@opacity-ie: (@opacity * 100);
		filter: ~"alpha(opacity=@{opacity-ie})"
	}

  // Triangle
  .triangle(@i, @j){
    width: 0;
    height: 0;
    border-width: @i;
    border-style: solid;
    border-color: @j;
  }


	// Clearfix
	.clearfix {
		*zoom: 1;
		&:after,
		&:before {content: ""; display: table}
		&:after {clear: both}
	}

	// Transition
	.transition(@i: all, @j: .2s, @f: linear) {
		-ms-transition: @i @j @f;
		-moz-transition: @i @j @f;
		-o-transition: @i @j @f;
		-webkit-transition: @i @j @f;
		transition: @i @j @f
	}

  //scale
  .scale(@i) {
    -ms-transform: scale(@i);
    -moz-transform: scale(@i);
    -o-transform: scale(@i);
    -webkit-transform: scale(@i);
    transform: scale(@i)
  }

	// Rotate
	.rotate(@i) {
		-ms-transform: rotate(@i);
		-moz-transform: rotate(@i);
		-o-transform: rotate(@i);
		-webkit-transform: rotate(@i);
		transform: rotate(@i)
	}

	// TranslateX
	.transform(@i) {
		-ms-transform: @i;
		-moz-transform: @i;
		-o-transform: @i;
		-webkit-transform: @i;
		transform: @i
	}

	// Linear-gradient
	.gradient(@i; @j) {
		background: -ms-linear-gradient(right, @i, @j);
		background: -moz-linear-gradient(right, @i, @j);
		background: -o-linear-gradient(right, @i, @j);
		background: -webkit-linear-gradient(left, @i, @j);
		background: linear-gradient(to right, @i, @j);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@i, endColorstr=@j, GradientType=1)
	}

	.gradientY(@i; @j) {
		background: -ms-linear-gradient(top, @i, @j);
		background: -moz-linear-gradient(bottom, @i, @j);
		background: -o-linear-gradient(bottom, @i, @j);
		background: -webkit-linear-gradient(top, @i, @j);
		background: linear-gradient(to bottom, @i, @j);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@i, endColorstr=@j, GradientType=0)
	}
	.gradientDeg(@x; @i; @j) {
		background: -ms-linear-gradient(@x, @i, @j);
		background: -moz-linear-gradient(@x, @i, @j);
		background: -o-linear-gradient(@x, @i, @j);
		background: -webkit-linear-gradient((90deg - @x), @i, @j);
		background: linear-gradient(@x, @i, @j);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@i, endColorstr=@j, GradientType=0)
	}

// input
input[type=text],input[type=password] {
	&:focus {
	}

	&.error {
	}
}

input[type=checkbox] {
	&:before{

	}
}

//placeholder-color
.placeholderColor(@c) {
	&::-webkit-input-placeholder {
		color: @c;
	}
	&:-moz-placeholder {
		color: @c;
	}
	&::-moz-placeholder {
		color: @c;
	}
	&:-ms-input-placeholder {
		color: @c;
	}
}
